.fixed-top
{
    width: 100%;
    background-color: #82c3ba;
    position: fixed;
    top: 0px;
    text-decoration: none;
}

.hover:hover {
    cursor: pointer;
};

.header
{
    float: left;
    top: 100px;
    width: 100%;
}

.intro
{
    float: left;
    top: 0px;
    width: 100%;
    padding: 5%;
}

.servers
{
    float: left;
    top: 0px;
    width: 100%;
    padding: 5%;
}
